/*
 * Kakao
 */
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 400;
    src: url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-bRg.eot) format('eot'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-bRg.woff2) format('woff2'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-bRg.woff) format('woff'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-bRg.otf) format('opentype'),
    local('Kakao Regular'), local('KakaoOTF Regular');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 200;
    src: url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-aLt.eot) format('eot'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-aLt.woff2) format('woff2'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-aLt.woff) format('woff'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-aLt.otf) format('opentype'),
    local('Kakao Light'), local('KakaoOTF Light');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 700;
    src: url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-cBd.eot) format('eot'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-cBd.woff2) format('woff2'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-cBd.woff) format('woff'),
    url(http://api-metakage-4misc.kakao.com/dn/osa/blog/assets/fonts/KakaoOTF-cBd.otf) format('opentype'),
    local('Kakao Bold'), local('KakaoOTF Bold');
}
